@charset "UTF-8";
/* CSS Document */

.z-risk-rad {
	margin-left:20px;
}
.panel-heading{
	height: 42px;
}
.panel-title {
	vertical-align: middle;
}

.btn-xs{
	border: none;
	color: #337ab7;
	font-weight: 400;
	font-size: 12px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #000;
	opacity: .7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #000;
	opacity:  .7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #000;
	opacity:  .7;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #000;
	opacity: .7;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #000;
	opacity: .7;
}
.close {
	opacity: .5;
}
a {
	color: #2e6da4;
	text-decoration: underline;
}

@media only screen and (max-width: 350px) {

	.zika-title {font-size:13px;}
}