@charset "UTF-8";
/* CSS Document */

.z-risk-rad {
	margin-left:20px;
}
.panel-heading{
	height: 42px;
}
.panel-title {
	vertical-align: middle;
}

.btn-xs{
	border: none;
	color: #337ab7;
	font-weight: 400;
	font-size: 12px;
}