@charset "UTF-8";
/* CSS Document */

.z-risk-rad {
	margin-left:20px;
}
.panel-heading{
	height: 54px;
}
.panel-title {
	vertical-align: middle;
	padding-top: 6px;
}

.btn-default{
	border: none;
	color: #337ab7;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #000;
	opacity: .7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #000;
	opacity:  .7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #000;
	opacity:  .7;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #000;
	opacity: .7;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #000;
	opacity: .7;
}
.close {
	opacity: .5;
}
a {
	color: #2e6da4;
	text-decoration: underline;
}

@media only screen and (max-width: 350px) {

	.zika-title {font-size:13px;}
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #075290;
	border-color: #075290;
}
.btn-primary {
	color: #fff;
	background-color: #075290;
	border-color: #075290;
}